{% extends "base.html" %}{% block title %}Dashboard{% endblock %}

{% block content %}
<div class="d-flex flex-row">
        <div class="p-2 page-icon">
            <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-list-check" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M5 11.5a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h9a.5.5 0 0 1 0 1h-9a.5.5 0 0 1-.5-.5zM3.854 2.146a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 3.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708L2 7.293l1.146-1.147a.5.5 0 0 1 .708 0zm0 4a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
            </svg>
        </div>
        <div class="p-2">
            <h1 class="header-text">Dashboard</h1>
        </div>
</div>
<br />
<div class="row">
    <div class="col-md-auto border border-dark rounded background-color-event-list">
        <div class="shopping-list-on-dashboard-div background-color-event-list">
           <h3>Upcoming events</h3>
            <ul class="list-group" id="events">
                {% for event in events %}
                    <li class="list-group-item event-list-on-dashboard">
                        {% if event.days_till == 0 %}
                            {{event.title}} is today!
                        {% endif %}
                        {% if event.days_till > 0 %}
                            {{event.title}} is in {{event.days_till}} days
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
     </div>
</div>
<br />
<div class="row">
 <div class="col-md-auto border border-dark rounded background-color-task-list">
    <div class="shopping-list-on-dashboard-div background-color-task-list">
       <h3>Tasks</h3>
        <ul class="list-group" id="tasks">
            {% for task in tasks %}
                {% if task.state == False %}
                    <li class="list-group-item task-list-on-dashboard">
                        <div class="custom-control custom-checkbox">
                            <input type="checkbox" class="custom-control-input"
                                   id="checkbox_{{ task.id }}" onclick="toggleTaskStateDashboard({{ task.id }});">
                                <label class="custom-control-label" for="checkbox_{{ task.id }}">
                                    {{task.title}}
                                    {% if task.user_name %}
                                         - {{task.user_name}}
                                    {% endif %}
                                    {% if task.date %}
                                         - Due: {{task.date}}
                                    {% endif %}
                                </label>
                        </div>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
 </div>
</div>
<br />
<div class="row">
    <div class="col-md-auto border border-dark rounded background-color-shopping-list">
        <div class="shopping-list-on-dashboard-div background-color-shopping-list">
           <h3>Shopping list</h3>
            <ul class="list-group rounded" id="items">
                {% for item in group.items %}
                    {% if item.state == False %}
                        <li class="list-group-item shopping-list-on-dashboard">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input" id="checkbox_{{ item.id }}"
                                       onclick="toggleItemStateDashboard({{ item.id }});">
                                    <label class="custom-control-label" for="checkbox_{{ item.id }}">
                                        {{item.title}}
                                    </label>
                            </div>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}
