.custom-navbar {
    height: 100vh;
    width: 200px;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
}

.invert-svg { /* svg on an img tag */
  -webkit-filter: invert(1); /* safari 6.0 - 9.0 */
          filter: invert(1);
}

.flex-row-custom{
    align-items: center;
}

.navbar-text {
    margin-left: 4px;
}

.body {
    background-color: #f7f7f7;
}

.font {
    font-family: 'Ubuntu', sans-serif;
}

.container-fluid-custom {
    position: fixed;
    left: 200px;
    top: 0;
    margin-left: 20px;
    margin-top: 35px;
    max-width: 1300px;
}

.page-icon {
    width: 50px;
}

.list-group-item {
    background-color: #f7f7f7;
    width: 50%;
}

.list_header {
    margin-left: 20px;
    color: #440399;
    font-family: 'Ubuntu', sans-serif;
}

.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
}

.custom-control-label-checked {
    text-decoration-line: line-through;
    text-color: #848a91;
}

.custom-control-label {
    position: relative;
    color: #8a30ff;
    padding-left: 1.5rem;
    font-family: 'Ubuntu', sans-serif;
}

.delete_item {
    position: relative;
    float: right;
}

.custom-form-control {
    background-color: transparent;
    border-radius: 4px;
    outline: 1px;
    box-shadow: none;
    width: 75%;
}

.input-group-custom {
    width: 25%;
}

.login-button{
    position: relative;
    text-align: center;
    font-weight: bold;
}

.dropdown-menu-dark {
    color: #dee2e6;
    background-color: #343a40;
    border-color: rgba(0,0,0,.15);
    position: absolute;
    inset: auto auto 0px 0px;
    margin: 0px;
    transform: translate3d(0px, -34px, 0px);
}

.dropdown-menu {
    position: absolute;
    z-index: 1000;
    display: none;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: 0.25rem;
}

.bg-dark {
    background-color: #181b1f;
}

.group-name-text-input {
    border: 0;
    box-shadow: none;
}

.group-name-text-input:focus {
    outline: none;
    border-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}


